## Article80 Development Projects Data

In [2]:
import pandas as pd

# Load the CSV file into a DataFrame
data = pd.read_csv("../data/article80_data.csv", sep=",")

# Display the first few rows of the data to get an overview
data.head()

,X,Y,OBJECTID,Project_ID,Project_Name,Project_Street_Number,Project_Street_Name,Project_Street_Suffix,Project_Zip_Code,Neighborhood,...,COO_Permit_Date,Last_Project_Update_Date,Gross_Square_Footage,Description,Website_URL,Lat,Lon,Gross_Floor_Area,RnD_sqft,Shape
0,764853.067664,2.942946e+06,21411,2501,Jackson Square Recreation Center,1522,Columbus,Avenue,2119.0,Roxbury,...,NaN,NaN,38500.0,The proposed project as described in the NPC c...,http://www.bostonplans.org/projects/developmen...,42.3229,-71.0981,75000.0,0.0,NaN
1,766147.926951,2.932274e+06,21412,2502,Brooke Charter High School,198-260,American Legion,Highway,2124.0,Mattapan,...,2018/08/21 00:00:00+00,2017/04/20 00:00:00+00,95000.0,The Brooke Charter High School proposed the co...,http://www.bostonplans.org/projects/developmen...,42.2936,-71.0935,95000.0,0.0,NaN
2,767973.616213,2.951926e+06,21413,2508,1000 Boylston Street,1000,Boylston,Street,2115.0,Back Bay,...,NaN,2019/05/28 00:00:00+00,513000.0,The Proposed Project consists of a single cond...,http://www.bostonplans.org/projects/developmen...,42.3475,-71.0864,439500.0,0.0,NaN
3,753172.933872,2.955175e+06,21414,2509,Allston Yards Building B,400,Guest,Street,2134.0,Allston,...,NaN,2023/01/27 00:00:00+00,636500.0,400 Guest Street (Building B) in the Allston Y...,http://www.bostonplans.org/projects/developmen...,42.3566,-71.1411,634500.0,350000.0,NaN
4,765722.977998,2.947688e+06,21415,2510,Wentworth Multipurpose Academic Building,555,Parker,Street,2215.0,Mission Hill,...,2018/11/08 00:00:00+00,2017/06/29 00:00:00+00,69000.0,"The MpA Building will contain laboratories, st...",http://www.bostonplans.org/projects/developmen...,42.3359,-71.0948,69000.0,0.0,NaN

In [3]:
# Check for missing values in each column
missing_values = data.isnull().sum()

missing_values

X                              9
Y                              9
OBJECTID                       0
Project_ID                     0
Project_Name                   0
Project_Street_Number         42
Project_Street_Name           10
Project_Street_Suffix         61
Project_Zip_Code             417
Neighborhood                   2
Project_Record_Type            0
Project_Status                 0
Filed_Date                   872
BPDA_Board_Approval          571
First_Building_Permit       1043
COO_Permit_Date             1152
Last_Project_Update_Date     836
Gross_Square_Footage          11
Description                  312
Website_URL                  844
Lat                            7
Lon                            7
Gross_Floor_Area             254
RnD_sqft                     564
Shape                       1769
dtype: int64

In [4]:
# Obtain summary statistics for numerical columns
numerical_summary = data.describe()

numerical_summary

,X,Y,OBJECTID,Project_ID,Project_Zip_Code,Gross_Square_Footage,Lat,Lon,Gross_Floor_Area,RnD_sqft,Shape
count,1.760000e+03,1.760000e+03,1769.00000,1769.000000,1.352000e+03,1.758000e+03,1762.000000,1762.000000,1.515000e+03,1.205000e+03,0.0
mean,1.133926e+06,2.919336e+06,22295.00000,2163.279819,1.775680e+04,1.722792e+05,41.701599,-70.025511,1.622883e+05,2.874989e+04,NaN
std,3.246616e+06,7.187460e+05,510.81063,1290.344521,5.752505e+05,3.003057e+05,5.966293,9.230820,2.772785e+05,1.265776e+05,NaN
min,7.435219e+05,-6.109892e+05,21411.00000,6.000000,0.000000e+00,0.000000e+00,-71.151000,-71.177200,0.000000e+00,0.000000e+00,NaN
25%,7.638209e+05,2.942441e+06,21853.00000,1174.000000,2.119000e+03,3.143250e+04,42.321125,-71.101900,3.000000e+04,0.000000e+00,NaN
50%,7.712047e+05,2.949309e+06,22295.00000,1831.000000,2.127000e+03,6.293050e+04,42.340100,-71.074450,6.000000e+04,0.000000e+00,NaN
75%,7.761180e+05,2.953632e+06,22737.00000,3203.000000,2.134000e+03,1.821732e+05,42.352100,-71.056300,1.713370e+05,0.000000e+00,NaN
max,3.025086e+07,2.832424e+07,23179.00000,4670.000000,2.115381e+07,3.891825e+06,42.396400,71.051300,3.183000e+06,1.379800e+06,NaN

In [8]:
# Convert the column to datetime format
data['Last_Project_Update_Date'] = pd.to_datetime(data['Last_Project_Update_Date'], errors='coerce')

# Fill missing values with the most recent date
data['Last_Project_Update_Date'].fillna(data['Last_Project_Update_Date'].max(), inplace=True)

# Dropping the Shape column
data.drop('Shape', axis=1, inplace=True)

data.head()

,X,Y,OBJECTID,Project_ID,Project_Name,Project_Street_Number,Project_Street_Name,Project_Street_Suffix,Project_Zip_Code,Neighborhood,...,COO_Permit_Date,Last_Project_Update_Date,Gross_Square_Footage,Description,Website_URL,Lat,Lon,Gross_Floor_Area,RnD_sqft,Shape
0,764853.067664,2.942946e+06,21411,2501,Jackson Square Recreation Center,1522,Columbus,Avenue,2119.0,Roxbury,...,NaN,2023-07-17 00:00:00+00:00,38500.0,The proposed project as described in the NPC c...,http://www.bostonplans.org/projects/developmen...,42.3229,-71.0981,75000.0,0.0,NaN
1,766147.926951,2.932274e+06,21412,2502,Brooke Charter High School,198-260,American Legion,Highway,2124.0,Mattapan,...,2018/08/21 00:00:00+00,2017-04-20 00:00:00+00:00,95000.0,The Brooke Charter High School proposed the co...,http://www.bostonplans.org/projects/developmen...,42.2936,-71.0935,95000.0,0.0,NaN
2,767973.616213,2.951926e+06,21413,2508,1000 Boylston Street,1000,Boylston,Street,2115.0,Back Bay,...,NaN,2019-05-28 00:00:00+00:00,513000.0,The Proposed Project consists of a single cond...,http://www.bostonplans.org/projects/developmen...,42.3475,-71.0864,439500.0,0.0,NaN
3,753172.933872,2.955175e+06,21414,2509,Allston Yards Building B,400,Guest,Street,2134.0,Allston,...,NaN,2023-01-27 00:00:00+00:00,636500.0,400 Guest Street (Building B) in the Allston Y...,http://www.bostonplans.org/projects/developmen...,42.3566,-71.1411,634500.0,350000.0,NaN
4,765722.977998,2.947688e+06,21415,2510,Wentworth Multipurpose Academic Building,555,Parker,Street,2215.0,Mission Hill,...,2018/11/08 00:00:00+00,2017-06-29 00:00:00+00:00,69000.0,"The MpA Building will contain laboratories, st...",http://www.bostonplans.org/projects/developmen...,42.3359,-71.0948,69000.0,0.0,NaN

In [5]:
# Set up the figure
plt.figure(figsize=(14, 8))

# Plot the distribution of the 'Neighborhood' column with switched axes
data['Neighborhood'].value_counts().plot(kind='barh', color='lightblue')
plt.title('Distribution of Projects by Neighborhood')
plt.xlabel('Number of Projects')
plt.ylabel('Neighborhood')

# Adjust layout and display
plt.tight_layout()
plt.show()

NameError: name 'plt' is not defined