## Census Data

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the CSV file into a DataFrame
data = pd.read_csv("../data/census_data.csv")

# Display the first few rows of the data to get an overview
#data.head()
#data.info() # Get data types and missing values
#data.describe()  # Summary statistics
#data.isnull().sum()
# Define row ranges for each table

# Identify the rows where the first item is in all caps and others are empty
header_rows = df[df.iloc[:, 0].str.isupper() & df.iloc[:, 1:].isnull().all(axis=1)]

# Create subtables and display them separately
subtables = []
for i in range(len(header_rows)):
    if i == len(header_rows) - 1:
        subtable = df.iloc[header_rows.index[i]:]
    else:
        subtable = df.iloc[header_rows.index[i]:header_rows.index[i + 1]]
    subtables.append(subtable)

# Display subtables
for i, subtable in enumerate(subtables):
    display(subtable)
    
for i in range(len(header_rows)):
    if i == len(header_rows) - 1:
        subtable = df.iloc[header_rows.index[i]:]
    else:
        subtable = df.iloc[header_rows.index[i]:header_rows.index[i + 1]]
    
    # Perform EDA on the current subtable
    print(f"Exploratory Data Analysis for Subtable {i + 1}:")
    display(subtable.describe())  # Summary statistics
    display(subtable.info())      # Data types and missing values
    
    # Plot relevant columns for visualization
    columns_to_plot = subtable.select_dtypes(include=[np.number]).columns
    if len(columns_to_plot) > 0:
        plt.figure(figsize=(12, 6))
        sns.pairplot(subtable[columns_to_plot])
        plt.title(f"Pairplot for Subtable {i + 1}")
        plt.show()
    else:
        print("No numeric columns to plot.")
    
    print("\n" + "="*50 + "\n")  # Separation for clarity


# Function to convert string numbers with commas to integers
def convert_to_int(value):
    try:
        return int(value.replace(",", ""))
    except ValueError:
        return value

# Apply the conversion function to the specific column
data["ZCTA5 02215!!Estimate"] = data["ZCTA5 02215!!Estimate"].apply(convert_to_int)

# Subtable 1: HOUSING OCCUPANCY
housing_occupancy = data[data["Label (Grouping)"] == "HOUSING OCCUPANCY"]
occupancy_types = ["Occupied", "Vacant", "Homeowner Vacancy", "Rental Vacancy"]
occupancy_counts = housing_occupancy.iloc[1:5, 2].astype(int)

plt.figure(figsize=(8, 6))
plt.bar(occupancy_types, occupancy_counts)
plt.xlabel("Occupancy Types")
plt.ylabel("Counts")
plt.title("Housing Occupancy Types")
plt.show()

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"8,908",±612,"8,908",(X)
2,Occupied housing units,"7,931",±567,89.0%,±2.4
3,Vacant housing units,977,±228,11.0%,±2.4
4,Homeowner vacancy rate,0.0,±5.2,(X),(X)
5,Rental vacancy rate,3.3,±1.6,(X),(X)

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
6,UNITS IN STRUCTURE,NaN,NaN,NaN,NaN
7,Total housing units,"8,908",±612,"8,908",(X)
8,"1-unit, detached",101,±61,1.1%,±0.7
9,"1-unit, attached",38,±42,0.4%,±0.5
10,2 units,86,±61,1.0%,±0.7
11,3 or 4 units,156,±92,1.8%,±1.0
12,5 to 9 units,989,±207,11.1%,±2.3
13,10 to 19 units,"1,716",±340,19.3%,±3.8
14,20 or more units,"5,819",±615,65.3%,±3.9
15,Mobile home,0,±25,0.0%,±0.4
16,"Boat, RV, van, etc.",3,±7,0.0%,±0.1

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
17,YEAR STRUCTURE BUILT,NaN,NaN,NaN,NaN
18,Total housing units,"8,908",±612,"8,908",(X)
19,Built 2020 or later,65,±73,0.7%,±0.8
20,Built 2010 to 2019,843,±184,9.5%,±2.1
21,Built 2000 to 2009,"1,021",±232,11.5%,±2.7
22,Built 1990 to 1999,507,±143,5.7%,±1.5
23,Built 1980 to 1989,302,±98,3.4%,±1.1
24,Built 1970 to 1979,357,±110,4.0%,±1.3
25,Built 1960 to 1969,583,±190,6.5%,±2.1
26,Built 1950 to 1959,345,±116,3.9%,±1.3
27,Built 1940 to 1949,540,±216,6.1%,±2.4
28,Built 1939 or earlier,"4,345",±562,48.8%,±4.0

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
29,ROOMS,NaN,NaN,NaN,NaN
30,Total housing units,"8,908",±612,"8,908",(X)
31,1 room,"2,103",±377,23.6%,±4.2
32,2 rooms,"1,753",±386,19.7%,±3.8
33,3 rooms,"2,496",±368,28.0%,±4.2
34,4 rooms,"1,693",±456,19.0%,±4.6
35,5 rooms,483,±121,5.4%,±1.4
36,6 rooms,173,±70,1.9%,±0.8
37,7 rooms,74,±60,0.8%,±0.7
38,8 rooms,19,±22,0.2%,±0.2
39,9 rooms or more,114,±67,1.3%,±0.8
40,Median rooms,2.7,±0.2,(X),(X)

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
41,BEDROOMS,NaN,NaN,NaN,NaN
42,Total housing units,"8,908",±612,"8,908",(X)
43,No bedroom,"2,523",±471,28.3%,±4.4
44,1 bedroom,"3,369",±351,37.8%,±4.2
45,2 bedrooms,"2,481",±452,27.9%,±4.2
46,3 bedrooms,372,±109,4.2%,±1.3
47,4 bedrooms,91,±51,1.0%,±0.5
48,5 or more bedrooms,72,±60,0.8%,±0.7

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
49,HOUSING TENURE,NaN,NaN,NaN,NaN
50,Occupied housing units,"7,931",±567,"7,931",(X)
51,Owner-occupied,703,±149,8.9%,±2.0
52,Renter-occupied,"7,228",±582,91.1%,±2.0
53,Average household size of owner-occupi...,1.44,±0.17,(X),(X)
54,Average household size of renter-occup...,1.62,±0.08,(X),(X)

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
55,YEAR HOUSEHOLDER MOVED INTO UNIT,NaN,NaN,NaN,NaN
56,Occupied housing units,"7,931",±567,"7,931",(X)
57,Moved in 2019 or later,"2,172",±450,27.4%,±4.9
58,Moved in 2015 to 2018,"3,701",±339,46.7%,±5.0
59,Moved in 2010 to 2014,975,±369,12.3%,±4.2
60,Moved in 2000 to 2009,606,±231,7.6%,±2.9
61,Moved in 1990 to 1999,274,±112,3.5%,±1.4
62,Moved in 1989 and earlier,203,±76,2.6%,±1.0

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
63,VEHICLES AVAILABLE,NaN,NaN,NaN,NaN
64,Occupied housing units,"7,931",±567,"7,931",(X)
65,No vehicles available,"4,738",±386,59.7%,±5.3
66,1 vehicle available,"2,735",±554,34.5%,±5.3
67,2 vehicles available,378,±145,4.8%,±1.8
68,3 or more vehicles available,80,±52,1.0%,±0.6

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
69,HOUSE HEATING FUEL,NaN,NaN,NaN,NaN
70,Occupied housing units,"7,931",±567,"7,931",(X)
71,Utility gas,"3,293",±398,41.5%,±5.1
72,"Bottled, tank, or LP gas",126,±66,1.6%,±0.8
73,Electricity,"3,481",±298,43.9%,±4.4
74,"Fuel oil, kerosene, etc.",801,±464,10.1%,±5.3
75,Coal or coke,0,±25,0.0%,±0.5
76,Wood,0,±25,0.0%,±0.5
77,Solar energy,11,±16,0.1%,±0.2
78,Other fuel,112,±57,1.4%,±0.7
79,No fuel used,107,±54,1.3%,±0.7

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
80,SELECTED CHARACTERISTICS,NaN,NaN,NaN,NaN
81,Occupied housing units,"7,931",±567,"7,931",(X)
82,Lacking complete plumbing facilities,122,±80,1.5%,±1.0
83,Lacking complete kitchen facilities,111,±70,1.4%,±0.9
84,No telephone service available,164,±81,2.1%,±1.0

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
85,OCCUPANTS PER ROOM,NaN,NaN,NaN,NaN
86,Occupied housing units,"7,931",±567,"7,931",(X)
87,1.00 or less,"7,748",±579,97.7%,±1.4
88,1.01 to 1.50,55,±67,0.7%,±0.8
89,1.51 or more,128,±85,1.6%,±1.1

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
90,VALUE,NaN,NaN,NaN,NaN
91,Owner-occupied units,703,±149,703,(X)
92,"Less than $50,000",12,±13,1.7%,±1.9
93,"$50,000 to $99,999",0,±25,0.0%,±5.5
94,"$100,000 to $149,999",0,±25,0.0%,±5.5
95,"$150,000 to $199,999",12,±19,1.7%,±2.7
96,"$200,000 to $299,999",47,±41,6.7%,±6.0
97,"$300,000 to $499,999",289,±127,41.1%,±12.8
98,"$500,000 to $999,999",194,±62,27.6%,±8.8
99,"$1,000,000 or more",149,±57,21.2%,±8.0
100,Median (dollars),"494,900","±95,263",(X),(X)

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
101,MORTGAGE STATUS,NaN,NaN,NaN,NaN
102,Owner-occupied units,703,±149,703,(X)
103,Housing units with a mortgage,385,±119,54.8%,±10.0
104,Housing units without a mortgage,318,±85,45.2%,±10.0

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
105,SELECTED MONTHLY OWNER COSTS (SMOC),NaN,NaN,NaN,NaN
106,Housing units with a mortgage,385,±119,385,(X)
107,Less than $500,0,±25,0.0%,±9.9
108,$500 to $999,22,±35,5.7%,±9.1
109,"$1,000 to $1,499",32,±37,8.3%,±9.7
110,"$1,500 to $1,999",105,±96,27.3%,±20.5
111,"$2,000 to $2,499",51,±40,13.2%,±10.4
112,"$2,500 to $2,999",86,±52,22.3%,±13.2
113,"$3,000 or more",89,±41,23.1%,±10.4
114,Median (dollars),"2,328",±586,(X),(X)
115,Housing units without a mortgage,318,±85,318,(X)
116,Less than $250,24,±25,7.5%,±7.7
117,$250 to $399,8,±12,2.5%,±3.8
118,$400 to $599,13,±14,4.1%,±4.8
119,$600 to $799,75,±50,23.6%,±12.9
120,$800 to $999,26,±22,8.2%,±6.8
121,"$1,000 or more",172,±60,54.1%,±13.1
122,Median (dollars),"1,221",±351,(X),(X)

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
123,SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE O...,NaN,NaN,NaN,NaN
124,Housing units with a mortgage (excluding u...,385,±119,385,(X)
125,Less than 20.0 percent,97,±61,25.2%,±15.6
126,20.0 to 24.9 percent,113,±104,29.4%,±21.8
127,25.0 to 29.9 percent,17,±22,4.4%,±5.4
128,30.0 to 34.9 percent,12,±14,3.1%,±3.8
129,35.0 percent or more,146,±47,37.9%,±13.0
130,Not computed,0,±25,(X),(X)
131,Housing unit without a mortgage (excluding...,318,±85,318,(X)
132,Less than 10.0 percent,125,±50,39.3%,±13.9
133,10.0 to 14.9 percent,24,±24,7.5%,±7.8
134,15.0 to 19.9 percent,38,±27,11.9%,±8.4
135,20.0 to 24.9 percent,0,±25,0.0%,±11.8
136,25.0 to 29.9 percent,27,±33,8.5%,±9.9
137,30.0 to 34.9 percent,0,±25,0.0%,±11.8
138,35.0 percent or more,104,±57,32.7%,±13.9
139,Not computed,0,±25,(X),(X)

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
140,GROSS RENT,NaN,NaN,NaN,NaN
141,Occupied units paying rent,"7,139",±588,"7,139",(X)
142,Less than $500,313,±138,4.4%,±2.0
143,$500 to $999,145,±77,2.0%,±1.1
144,"$1,000 to $1,499",308,±123,4.3%,±1.8
145,"$1,500 to $1,999","2,185",±453,30.6%,±5.3
146,"$2,000 to $2,499","1,974",±298,27.7%,±4.4
147,"$2,500 to $2,999",953,±200,13.3%,±2.9
148,"$3,000 or more","1,261",±405,17.7%,±4.8
149,Median (dollars),"2,157",±87,(X),(X)
150,No rent paid,89,±59,(X),(X)

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
151,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME...,NaN,NaN,NaN,NaN
152,Occupied units paying rent (excluding unit...,"6,470",±605,"6,470",(X)
153,Less than 15.0 percent,501,±175,7.7%,±2.7
154,15.0 to 19.9 percent,597,±172,9.2%,±2.5
155,20.0 to 24.9 percent,500,±159,7.7%,±2.4
156,25.0 to 29.9 percent,"1,101",±428,17.0%,±5.5
157,30.0 to 34.9 percent,481,±186,7.4%,±3.0
158,35.0 percent or more,"3,290",±388,50.9%,±5.7
159,Not computed,758,±165,(X),(X)

Exploratory Data Analysis for Subtable 1:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,6,5,5,5,5
unique,6,5,5,4,2
top,HOUSING OCCUPANCY,"8,908",±612,(X),(X)
freq,1,1,1,2,3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      6 non-null      object
 1   ZCTA5 02215!!Estimate                 5 non-null      object
 2   ZCTA5 02215!!Margin of Error          5 non-null      object
 3   ZCTA5 02215!!Percent                  5 non-null      object
 4   ZCTA5 02215!!Percent Margin of Error  5 non-null      object
dtypes: object(5)
memory usage: 368.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 2:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,11,10,10,10,10
unique,11,10,9,9,9
top,UNITS IN STRUCTURE,"8,908",±61,0.0%,±0.7
freq,1,1,2,2,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 6 to 16
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      11 non-null     object
 1   ZCTA5 02215!!Estimate                 10 non-null     object
 2   ZCTA5 02215!!Margin of Error          10 non-null     object
 3   ZCTA5 02215!!Percent                  10 non-null     object
 4   ZCTA5 02215!!Percent Margin of Error  10 non-null     object
dtypes: object(5)
memory usage: 572.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 3:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,12,11,11,11,11
unique,12,11,11,11,9
top,YEAR STRUCTURE BUILT,"8,908",±612,"8,908",±2.1
freq,1,1,1,1,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 17 to 28
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      12 non-null     object
 1   ZCTA5 02215!!Estimate                 11 non-null     object
 2   ZCTA5 02215!!Margin of Error          11 non-null     object
 3   ZCTA5 02215!!Percent                  11 non-null     object
 4   ZCTA5 02215!!Percent Margin of Error  11 non-null     object
dtypes: object(5)
memory usage: 612.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 4:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,12,11,11,11,11
unique,12,11,11,11,8
top,ROOMS,"8,908",±612,"8,908",(X)
freq,1,1,1,1,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 29 to 40
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      12 non-null     object
 1   ZCTA5 02215!!Estimate                 11 non-null     object
 2   ZCTA5 02215!!Margin of Error          11 non-null     object
 3   ZCTA5 02215!!Percent                  11 non-null     object
 4   ZCTA5 02215!!Percent Margin of Error  11 non-null     object
dtypes: object(5)
memory usage: 612.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 5:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,8,7,7,7,7
unique,8,7,7,7,6
top,BEDROOMS,"8,908",±612,"8,908",±4.2
freq,1,1,1,1,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 41 to 48
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      8 non-null      object
 1   ZCTA5 02215!!Estimate                 7 non-null      object
 2   ZCTA5 02215!!Margin of Error          7 non-null      object
 3   ZCTA5 02215!!Percent                  7 non-null      object
 4   ZCTA5 02215!!Percent Margin of Error  7 non-null      object
dtypes: object(5)
memory usage: 452.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 6:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,6,5,5,5,5
unique,6,5,5,4,2
top,HOUSING TENURE,"7,931",±567,(X),(X)
freq,1,1,1,2,3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 49 to 54
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      6 non-null      object
 1   ZCTA5 02215!!Estimate                 5 non-null      object
 2   ZCTA5 02215!!Margin of Error          5 non-null      object
 3   ZCTA5 02215!!Percent                  5 non-null      object
 4   ZCTA5 02215!!Percent Margin of Error  5 non-null      object
dtypes: object(5)
memory usage: 372.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 7:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,8,7,7,7,7
unique,8,7,7,7,7
top,YEAR HOUSEHOLDER MOVED INTO UNIT,"7,931",±567,"7,931",(X)
freq,1,1,1,1,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 55 to 62
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      8 non-null      object
 1   ZCTA5 02215!!Estimate                 7 non-null      object
 2   ZCTA5 02215!!Margin of Error          7 non-null      object
 3   ZCTA5 02215!!Percent                  7 non-null      object
 4   ZCTA5 02215!!Percent Margin of Error  7 non-null      object
dtypes: object(5)
memory usage: 452.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 8:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,6,5,5,5,5
unique,6,5,5,5,4
top,VEHICLES AVAILABLE,"7,931",±567,"7,931",±5.3
freq,1,1,1,1,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 63 to 68
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      6 non-null      object
 1   ZCTA5 02215!!Estimate                 5 non-null      object
 2   ZCTA5 02215!!Margin of Error          5 non-null      object
 3   ZCTA5 02215!!Percent                  5 non-null      object
 4   ZCTA5 02215!!Percent Margin of Error  5 non-null      object
dtypes: object(5)
memory usage: 372.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 9:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,11,10,10,10,10
unique,11,9,9,9,8
top,HOUSE HEATING FUEL,0,±25,0.0%,±0.5
freq,1,2,2,2,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 69 to 79
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      11 non-null     object
 1   ZCTA5 02215!!Estimate                 10 non-null     object
 2   ZCTA5 02215!!Margin of Error          10 non-null     object
 3   ZCTA5 02215!!Percent                  10 non-null     object
 4   ZCTA5 02215!!Percent Margin of Error  10 non-null     object
dtypes: object(5)
memory usage: 572.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 10:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,5,4,4,4,4
unique,5,4,4,4,3
top,SELECTED CHARACTERISTICS,"7,931",±567,"7,931",±1.0
freq,1,1,1,1,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 80 to 84
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      5 non-null      object
 1   ZCTA5 02215!!Estimate                 4 non-null      object
 2   ZCTA5 02215!!Margin of Error          4 non-null      object
 3   ZCTA5 02215!!Percent                  4 non-null      object
 4   ZCTA5 02215!!Percent Margin of Error  4 non-null      object
dtypes: object(5)
memory usage: 332.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 11:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,5,4,4,4,4
unique,5,4,4,4,4
top,OCCUPANTS PER ROOM,"7,931",±567,"7,931",(X)
freq,1,1,1,1,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 85 to 89
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      5 non-null      object
 1   ZCTA5 02215!!Estimate                 4 non-null      object
 2   ZCTA5 02215!!Margin of Error          4 non-null      object
 3   ZCTA5 02215!!Percent                  4 non-null      object
 4   ZCTA5 02215!!Percent Margin of Error  4 non-null      object
dtypes: object(5)
memory usage: 332.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 12:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,11,10,10,10,10
unique,11,8,9,8,8
top,VALUE,12,±25,1.7%,(X)
freq,1,2,2,2,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 90 to 100
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      11 non-null     object
 1   ZCTA5 02215!!Estimate                 10 non-null     object
 2   ZCTA5 02215!!Margin of Error          10 non-null     object
 3   ZCTA5 02215!!Percent                  10 non-null     object
 4   ZCTA5 02215!!Percent Margin of Error  10 non-null     object
dtypes: object(5)
memory usage: 572.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 13:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,4,3,3,3,3
unique,4,3,3,3,2
top,MORTGAGE STATUS,703,±149,703,±10.0
freq,1,1,1,1,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 101 to 104
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      4 non-null      object
 1   ZCTA5 02215!!Estimate                 3 non-null      object
 2   ZCTA5 02215!!Margin of Error          3 non-null      object
 3   ZCTA5 02215!!Percent                  3 non-null      object
 4   ZCTA5 02215!!Percent Margin of Error  3 non-null      object
dtypes: object(5)
memory usage: 292.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 14:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,18,17,17,17,17
unique,17,17,16,16,13
top,Median (dollars),385,±25,(X),(X)
freq,2,1,2,2,4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 105 to 122
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      18 non-null     object
 1   ZCTA5 02215!!Estimate                 17 non-null     object
 2   ZCTA5 02215!!Margin of Error          17 non-null     object
 3   ZCTA5 02215!!Percent                  17 non-null     object
 4   ZCTA5 02215!!Percent Margin of Error  17 non-null     object
dtypes: object(5)
memory usage: 852.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 15:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,17,16,16,16,16
unique,12,13,13,14,11
top,20.0 to 24.9 percent,0,±25,(X),(X)
freq,2,4,4,2,4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 123 to 139
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      17 non-null     object
 1   ZCTA5 02215!!Estimate                 16 non-null     object
 2   ZCTA5 02215!!Margin of Error          16 non-null     object
 3   ZCTA5 02215!!Percent                  16 non-null     object
 4   ZCTA5 02215!!Percent Margin of Error  16 non-null     object
dtypes: object(5)
memory usage: 812.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 16:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,11,10,10,10,10
unique,11,10,10,9,8
top,GROSS RENT,"7,139",±588,(X),(X)
freq,1,1,1,2,3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 140 to 150
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      11 non-null     object
 1   ZCTA5 02215!!Estimate                 10 non-null     object
 2   ZCTA5 02215!!Margin of Error          10 non-null     object
 3   ZCTA5 02215!!Percent                  10 non-null     object
 4   ZCTA5 02215!!Percent Margin of Error  10 non-null     object
dtypes: object(5)
memory usage: 572.0+ bytes

None

No numeric columns to plot.

==================================================

Exploratory Data Analysis for Subtable 17:

,Label (Grouping),ZCTA5 02215!!Estimate,ZCTA5 02215!!Margin of Error,ZCTA5 02215!!Percent,ZCTA5 02215!!Percent Margin of Error
count,9,8,8,8,8
unique,9,8,8,7,7
top,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME...,"6,470",±605,7.7%,(X)
freq,1,1,1,2,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 151 to 159
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Label (Grouping)                      9 non-null      object
 1   ZCTA5 02215!!Estimate                 8 non-null      object
 2   ZCTA5 02215!!Margin of Error          8 non-null      object
 3   ZCTA5 02215!!Percent                  8 non-null      object
 4   ZCTA5 02215!!Percent Margin of Error  8 non-null      object
dtypes: object(5)
memory usage: 492.0+ bytes

None

No numeric columns to plot.

==================================================

AttributeError: 'float' object has no attribute 'replace'